:root {
  --eerieBlk: #101515;
  --richBlk: #060808;

  --eerieBlk2: #1c1e1e;
  --eerieBlk3: #212222;
  --spaceGrey: #5a7272;
}

@font-face {
  src: url("../fonts/ARCADE_N.TTF");
  font-family: pixel;
}

@font-face {
  src: url("../fonts/ARCADE_I.TTF");
  font-family: pixel2;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}
@font-face {
  src: url("../fonts/GrenzeGotisch-VariableFont_wght.ttf");
  font-family: GrenzeGotisch;
}
@font-face {
  src: url("../fonts/LibreBaskerville-Regular.ttf");
  font-family: LibreRegular;
}
@font-face {
  src: url("../fonts/Raleway-LightItalic.ttf");
  font-family: railwayItalic;
}

@font-face {
  src: url("../fonts/Raleway-Medium.ttf");
  font-family: railwayMedium;
}

.projectsButton {
  font-family: GrenzeGotisch;
  background-color: unset !important;
  border-color: white !important;
  transition: 1s;
}

.projectsButton:hover {
  background-color: white !important;
  border-color: white !important;
  color: var(--richBlk) !important;
}

.question {
  font-family: GrenzeGotisch;
  font-size: 30px !important;
  color: white;
  border: black;
}

.info {
  font-family: LibreRegular;
  font-size: 25px !important;
  color: white;
  text-align: left;
  margin: 10px;
}

@media screen and (max-width: 700px) {
  .info {
    font-size: medium !important;
  }
}

.skillDescription {
  color: white !important;
    text-shadow: 2px 2px 8px var(--eerieBlk2);
    font-family: libreRegular;
}

@media screen and (max-width: 800px) {
  .info {
    font-size: medium !important;
  }
}
.questionContainer {
  margin-top: 1%;
  border-radius: 10px;
  transition: 2s;
  /* background-color: var(--richBlk); */
  background: rgb(6, 8, 8);
  background: linear-gradient(
    360deg,
    rgba(6, 8, 8, 0.8449754901960784) 27%,
    rgba(29, 30, 30, 0.7525385154061625) 43%,
    rgba(110, 110, 110, 0) 100%
  );
}

.questionContainer:hover {
  opacity: 1;
}
.jumboInfo {
  margin-top: 5%;
}
.jumboImage {
  height: auto;
  width: 100%;
  border-radius: 10px !important;
  object-fit: cover;
  padding: 5px;
}

.card {
  width: 100%;
  height: auto;
}

.aboutMeTitle {
  font-family: LibreRegular;
  font-size: xx-large;
  color: white;
}

.downloadText:hover {
  cursor: pointer;
  color: red !important;
  transition: 1s;
}