@font-face {
    src: url('../fonts/ARCADE_N.TTF');
    font-family: pixel ;
}

@font-face {
    src: url('../fonts/ARCADE_I.TTF');
    font-family: pixel2;
}



@font-face {
    src: url('../fonts/Raleway-Light.ttf');
    font-family: railwayLight;
}

@font-face {
    src: url('../fonts/Raleway-LightItalic.ttf');
    font-family: railwayItalic;
}

@font-face {
    src: url('../fonts/Raleway-Medium.ttf');
    font-family: railwayMedium;
}
