@font-face {
    src: url('../fonts/ARCADE_N.TTF');
    font-family: pixel ;
}

@font-face {
    src: url('../fonts/ARCADE_I.TTF');
    font-family: pixel2;
}

body {
    background-image: url('../Photos/Animated\ GIF-downsized_large.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#bigText {
    font-family: pixel2;
    font-size: xx-large;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5px;
    color: gold;
    border: black;
}
#welcome {
    font-family: pixel;
    transition: 2s;
    color: red;
    text-shadow: black;
}


#welcome:hover {
    color: gold;
}

#welcomeMessageContainer {
    border-style: dashed;
    width: 80%;
    margin: auto;
    position: inherit;
    background-color: whitesmoke;
}

.image {
    width: 410px;
    height: 410px;
    margin: auto;
    border-radius: 10px;
    transition: 2s;
    border-style: solid;
    border-width: thick;
    border-color: white;
}

.image:hover {
    box-shadow: 2px 2px 2px #6d0000;
}




/* .mySlides {
    display: none;
} */



.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}