:root {
  --eerieBlk: #101515;
  --richBlk: #060808;

  --eerieBlk2: #1c1e1e;
  --eerieBlk3: #212222;
  --spaceGrey: #5a7272;
}
@font-face {
  src: url("../fonts/ARCADE_N.TTF");
  font-family: pixel;
}

@font-face {
  src: url("../fonts/LibreBaskerville-Regular.ttf");
  font-family: LibreRegular;
}

@font-face {
  src: url("../fonts/ARCADE_I.TTF");
  font-family: pixel2;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

@font-face {
  src: url("../fonts/Raleway-LightItalic.ttf");
  font-family: railwayItalic;
}

@font-face {
  src: url("../fonts/Raleway-Medium.ttf");
  font-family: railwayMedium;
}

@font-face {
  src: url("../fonts/GrenzeGotisch-VariableFont_wght.ttf");
  font-family: GrenzeGotisch;
}

.aboutButton {
  font-family: GrenzeGotisch;
  background-color: unset !important;
  border-color: white !important;
  transition: 1s;
}

.aboutButton:hover {
  background-color: white !important;
  border-color: white !important;
  color: var(--richBlk) !important;
}

.homeCarousel {
  height: auto;
  width: 100%;
  border: 2px solid black !important;
  background-color: var(--richBlk) !important;
  border-radius: 10px;
}

.carouselImage {
  height: 500px;
  max-width: 100%;
  /* max-height: auto; */
  /* max-height: 100%; */
  width: 100%;
  max-width: 100%;
  border-radius: 10px !important;
  object-fit: cover;
}

.active {
  border-radius: 10px !important;
}

.home {
  margin-top: 10px;
}

.welcomeJumbo {
  border-radius: 10px;
  background-color: unset;
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: auto;
}

.greetingsJumbo {
  border: 2px unset !important;
  background: rgb(6, 8, 8);
  background: linear-gradient(
    360deg,
    rgba(6, 8, 8, 0.8449754901960784) 27%,
    rgba(29, 30, 30, 0.7525385154061625) 43%,
    rgba(110, 110, 110, 0) 100%
  );
  border-radius: 10px;
  width: 100%;
  height: auto;
  transition: 2s;
}

.greetingsJumbo:hover {
  background-color: var(--richBlk);
}

.jumboBodyText {
  text-align: left;
  text-shadow: 2px 2px 8px var(--eerieBlk2);
  font-family: libreRegular;
}
.jumboText {
  color: white !important;
  text-shadow: 2px 2px 8px var(--eerieBlk2);
  font-family: libreRegular;
}

.jumboTextTitle {
  color: white !important;
  text-shadow: 2px 2px 8px var(--eerieBlk2);
  font-family: GrenzeGotisch;
}

.jumboTextWelcome {
  color: white !important;
  text-shadow: 2px 2px 8px var(--eerieBlk2);
  font-family: GrenzeGotisch;
}

.slide {
  border-radius: 10px !important;
}

html {
  overflow: hidden;
  height: 100%;
}

/* body {
    height: 100%;
    overflow: auto;
} */

#bigText {
  font-family: railwayMedium;
  font-size: xx-large;
  margin: auto;
  margin-bottom: 5px;
  color: white;
}
#welcome {
  font-family: railwayItalic;
  font-size: x-large;
  transition: 2s;
  color: white;
  text-shadow: black;
}

#welcome:hover {
  transform: scale(1.1, 1.1);
}

html {
  height: 100vh;
  min-height: 100vh;
}

.skill1:hover {
  transform: scale(1.04, 1.04);
}
.skill2:hover {
  transform: scale(1.04, 1.04);
}
.skill3:hover {
  transform: scale(1.04, 1.04);
}
.skill4:hover {
  transform: scale(1.04, 1.04);
}
.skill5:hover {
  transform: scale(1.04, 1.04);
}
.skill6:hover {
  transform: scale(1.04, 1.04);
}
.skill7:hover {
  transform: scale(1.04, 1.04);
}
.skillImageContainer {
  max-width: 150px;
  max-height: 150px;
  margin: auto;
  padding: 10px;
}

.skill {
  height: auto;
  width: 100%;
  transition: 2s;
  padding: 5px;
}


.bigDiv {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 70%;
  padding-left: 15%;
  /* padding-top: 5%; */
}
#welcomeMessageContainer {
  width: 30%;
  padding-top: 2%;
  margin: auto;
  position: inherit;
  border-radius: 5px;
  /* background-color: #7681A8; */
  opacity: 0.5;
  transition: 2s;
}

#welcomeMessageContainer:hover {
  opacity: 1;
}

.image {
  width: 410px;
  height: 410px;
  /* margin: auto; */
  border-radius: 10px;
  transition: 2s;
  border-style: solid;
  border-width: thin;
  border-color: white;
}

.image-container {
  padding-top: 5%;
}

/* .mySlides {
    display: none;
} */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .homeCarousel {
    float: none;
    margin-right: 0;
    width: auto;
    border: 0;
  }
}
