:root {
  --eerieBlk: #101515;
  --richBlk: #060808;

  --eerieBlk2: #1c1e1e;
  --eerieBlk3: #212222;
  --spaceGrey: #5a7272;
}

@font-face {
  src: url("../fonts/ARCADE_N.TTF");
  font-family: pixel;
}
@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

@font-face {
  src: url("../fonts/Raleway-LightItalic.ttf");
  font-family: railwayItalic;
}

@font-face {
  src: url("../fonts/Raleway-Medium.ttf");
  font-family: railwayMedium;
}


@font-face {
  src: url("../fonts/GrenzeGotisch-VariableFont_wght.ttf");
  font-family: GrenzeGotisch;
}

.navItem {
  color: white !important;
  font-family: GrenzeGotisch;
  font-size: large;
}

.brand {
    color: white !important;
    font-family: GrenzeGotisch;
    font-size: x-large;
    padding: 10px;
}


.nav-item {
    padding: 5px 10px;
    margin: 3px 3px;
  }

  .navBar {
    background-color: var(--richBlk) !important;
  }

  .hamburgerButton:hover {
    background-color: white !important;
  }