@font-face {
    src: url('../fonts/ARCADE_N.TTF');
    font-family: pixel;
}

nav {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    font-family: pixel;
    transition: 2s;
    width: 100%;
    font-size: x-large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    color: black;
    background-color: black;
}

.navItem:hover {
    color: white;
}